*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*/res/drawable*
app/src/main/res/drawable*
app/app-release.apk
*.png
app/src/main/res/mipmap-hdpi/ic_launcher.png
app/src/main/res/raw/*
