<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vortex.vortex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".APK.ApkActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ApkMoySredstvaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ApkMoySredstvaSravnenieActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityApkMoysredstvaMain"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityApkMoySredstvaForHoz"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityApkMoySredstvaVoda"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeni"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniDoDoenia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniPosleDoenia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniExpressMethod"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniDoDoeniaSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniPosleDoeniaSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniExpressMethodSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciya"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaProfilaktikaForbicid"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaProfilaktikaForbicidSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaVynujdennayaForbicid"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaVynujdennayaForbicidSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaTumanFire"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaTumanIce"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKDezinfekciyaTumanIceAnimal"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityPisheProm"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityPishePromSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAuto"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAutoSravnenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopyta"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopytaOzdorovlenie"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopytaProfilaktika"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopytaMedKuporos"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopytaDesitabProfilakt"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APK.ActivityAPKKopytaDesitabProfilaktUsil"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAutoSuperKoncentrat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAutoVybor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAutoSuperKoncentratSravnenie"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>