<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vortex.vortex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".APK.ApkActivity" />
        <activity android:name=".APK.ApkMoySredstvaActivity" />
        <activity android:name=".APK.ApkMoySredstvaSravnenieActivity" />
        <activity android:name=".APK.ActivityApkMoysredstvaMain" />
        <activity android:name=".APK.ActivityApkMoySredstvaForHoz" />
        <activity android:name=".APK.ActivityApkMoySredstvaVoda" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeni" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniDoDoenia" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniPosleDoenia" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniExpressMethod" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniDoDoeniaSravnenie" />
        <activity android:name=".APK.GigienaVymeni.ActivityAPKGigienaVymeniPosleDoeniaSravnenie" />
        <activity android:name=".APK.ActivityAPKGigienaVymeniExpressMethodSravnenie" />
        <activity android:name=".APK.ActivityAPKDezinfekciya" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaProfilaktikaForbicid" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaProfilaktikaForbicidSravnenie" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaVynujdennayaForbicid" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaVynujdennayaForbicidSravnenie" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaTumanFire" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaTumanIce" />
        <activity android:name=".APK.ActivityAPKDezinfekciyaTumanIceAnimal" />
        <activity android:name=".ActivityPisheProm" />
        <activity android:name=".ActivityPishePromSravnenie" />
        <activity android:name=".ActivityAuto" />
        <activity android:name=".ActivityAutoSravnenie" />
        <activity android:name=".APK.ActivityAPKKopyta" />
        <activity android:name=".APK.ActivityAPKKopytaOzdorovlenie" />
        <activity android:name=".APK.ActivityAPKKopytaProfilaktika" />
        <activity android:name=".APK.ActivityAPKKopytaMedKuporos" />
        <activity android:name=".APK.ActivityAPKKopytaDesitabProfilakt" />
        <activity android:name=".APK.ActivityAPKKopytaDesitabProfilaktUsil" />
        <activity android:name=".ActivityAutoSuperKoncentrat" />
        <activity android:name=".ActivityAutoVybor"></activity>
    </application>

</manifest>